@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">"Success is not final; failure is not fatal: It is the courage to continue that counts." — ...We don't just sit around and wait for other people. ...“Education is the most powerful weapon which you can use to change the world.” — ...“You can't be that kid standing at the top of the waterslide, overthinking it.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
